.pokedex-navbar {
    margin-bottom: 20px;
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Cambiado de 100px a 100% para que use todo el ancho */
    padding: 16px 0;
}